<div class="rectangle5670">
  <div echarts [options]="options" [merge]="updateOptions" class="demo-chart"></div>
</div>

<div class="rectangle5671">

</div>

<div class="rectangle5672">

</div>

<div class="rectangle5673">

</div>

<div class="rectangle5674">

</div>

<div class="show-all">
  <a>Show all</a>
</div>

<div class="rectangle5675"></div>

<div class="rectangle5676"></div>

<div class="rectangle5677">
  <div class="card">
    <p-tabView>
      <p-tabPanel header="Protfolio">
      </p-tabPanel>
      <p-tabPanel header="Watchlist"></p-tabPanel>
      <p-tabPanel header="Gainers"></p-tabPanel>
      <p-tabPanel header="Losers"></p-tabPanel>
      <p-tabPanel header="Recomanded"></p-tabPanel>
      <p-tabPanel header="Recomanded"></p-tabPanel>
      <p-tabPanel header="Recently sold"></p-tabPanel>
      </p-tabView>
  </div>
</div>
