/* You can add global styles to this file, and also import other style files */
body {
  background: #F8F9FD
}

.Topbar {
  position: absolute;
  width: 1503px;
  height: 65px;
  left: 225px;
  top: 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #A9ACBB;
}

.my-profile {
  width: 200px;
  height: 17px;
  padding-left: 55px;
  padding-top: 17px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #4C506B;
}

.Crypto-assets {
  position: absolute;
  width: 123px;
  height: 23px;
  left: 261px;
  top: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #453DE0;
}

.topbar-line {
  position: absolute;
  width: 37px;
  height: 0;
  left: 371px;
  top: 34px;
  border: 1px solid #A9ACBB;
  transform: rotate(90deg);
}

.stocks {
  position: absolute;
  width: 58px;
  height: 23px;
  left: 428px;
  top: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #A9ACBB;

}

.Connect-wallet {
  position: absolute;
  width: 143px;
  height: 23px;
  left: 1190px;
  top: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #A9ACBB;
}

.topbar-user {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 1415px;
  top: 15px;
  background: #E1E5F8;
  border-radius: 25px;
}

.rectangle5670 {
  position: absolute;
  width: 582px;
  height: 346px;
  left: 280px;
  top: 106px;
  background: #FFFFFF;
  border-radius: 12px;
}

.rectangle5670 p{
  position: absolute;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-top: 0px;
  width: 198px;
  color: #9FA2B2;
}

.rectangle5670 h2{
  position: absolute;
  width: 31px;
  height: 33px;
  left: 29px;
  top: 12px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 95.2%;
  display: flex;
  color: #4C506B !important;
}


.rectangle5671 {
  position: absolute;
  width: 390px;
  height: 346px;
  left: 892px;
  top: 106px;
  background: #FFFFFF;
  border-radius: 12px;
}

.rectangle5672 {
  position: absolute;
  width: 371px;
  height: 184px;
  left: 1312px;
  top: 106px;
  background: #FFFFFF;
  border-radius: 12px;
}

.rectangle5672 p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #9FA2B2;
  padding-left: 21px;
  padding-top: 31px;
  width: 198px;
}

.rectangle5672 a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #453DE0;
  padding-left: 21px;
}

.knob {
  position: absolute;
  left: 58.12%;
  right: 3.88%;
  top: 25.35%;
  bottom: 76.81%;
}

.rectangle5673 {
  position: absolute;
  width: 371px;
  height: 148px;
  left: 1312px;
  top: 312px;
  background: #FFFFFF;
  border-radius: 12px;
}

.rectangle5673 img {
  position: absolute;
  left: 34px;
  right: 34px;
  top: 18px;
  bottom: 18px;
}

.rectangle5673 .p1 {
  position: absolute;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-top: 51px;
  width: 198px;
  color: #9FA2B2;
}

.rectangle5673 .p2 {
  position: absolute;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-top: 80px;
  width: 198px;
  color: #9FA2B2;
}

.rectangle5673 h1 {
  position: absolute;
  width: 31px;
  height: 33px;
  left: 295px;
  top: -16px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 95.2%;
  display: flex;
  color: #4C506B !important;
}

.rectangle5674 {
  position: absolute;
  width: 371px;
  height: 90px;
  left: 1312px;
  top: 473px;
  background: #FFFFFF;
  border-radius: 12px;
}

.rectangle5674 .p1{
  position: absolute;
  width: 350px;
  height: 25px;
  left: 18px;
  top: -7px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19.3548px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #4C506B;
}

.rectangle5674 .p2{
  position: absolute;
  width: 350px;
  height: 25px;
  left: 18px;
  top: 24px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #9FA2B2;
}
.rectangle5674 .p1 span{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding-left: 83px;
  padding-right: 5px;
  color: #9FA2B2;
}

.rectangle5674 .p2 span{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  padding-left: 142px;
  padding-right: 5px;
  color: #4C506B;
}
.show-all {
  position: absolute;
  width: 60px;
  height: 21px;
  left: 1622px;
  top: 569px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
}

.show-all-news {
  position: absolute;
  width: 98px;
  height: 21px;
  left: 1583px;
  top: 1093px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #A9ACBB;
}
.show-all a {
  /* Label */
  color: #A9ACBB;
}

.rectangle5675 {
  position: absolute;
  width: 371px;
  height: 184px;
  left: 1311px;
  top: 612px;
  background: #FFFFFF;
  border-radius: 12px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
}
.rectangle5675 h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
}

.rectangle5675 p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  padding-left: 10px;
  margin-top: -5px;
  color: #A9ACBB;

}
.rectangle5675 span{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  padding-left: 98px;
  padding-right: 5px;
  color: #4C506B;
  text-align: justify;
}
.rectangle5676 {
  position: absolute;
  width: 371px;
  height: 263px;
  left: 1312px;
  top: 818px;
  background: #FFFFFF;
  border-radius: 12px;
}

.rectangle5676 .news-h{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  padding-left: 18px;
}

.rectangle5676 .news-date{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #A9ACBB;
  padding-left: 18px;
  margin-top: -10px;
}

.rectangle5676 .news-p{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #A9ACBB;
  padding-left: 18px;
  width: 312px;
  margin-top: -10px;
}
.rectangle5677 {
  position: absolute;
  width: 1002px;
  height: 551px;
  left: 279px;
  top: 510px;
  background: #FFFFFF;
  border-radius: 6px;
}









